<header class="app-header">
  <div class="logo-container">
    <img src="logo.png" alt="Logo Restaurante" class="logo" [routerLink]="['/menu', tableId()]">
  </div>

  <nav class="nav-links">
    <a [routerLink]="['/menu', tableId()]" routerLinkActive="active">
      MENÚ
    </a>

    <a href="#" (click)="abrirConfirmacion($event)" [class.active]="estadoLlamada() !== 'oculto'">
      SOLICITAR<br>ATENCIÓN
    </a>

    <a [routerLink]="['/cuenta', tableId()]" routerLinkActive="active">
      CUENTA
    </a>
  </nav>
</header>

@if (estadoLlamada() !== 'oculto') {
  <div class="overlay-camarero">
    <div class="popup-camarero">
      @if (estadoLlamada() === 'confirmacion') {
        <p class="popup-mensaje">¿SEGURO QUE QUIERES LLAMAR AL CAMARERO?</p>
        <div class="popup-botones">
          <button class="btn-opcion" (click)="confirmarLlamada()">SI</button>
          <button class="btn-opcion" (click)="cancelarLlamada()">NO</button>
        </div>
      }
      @else if (estadoLlamada() === 'en-camino') {
        <p class="popup-mensaje exito">UN CAMARERO ESTÁ EN CAMINO</p>
      }
    </div>
  </div>
}
